.navribbon{
	background-color: #6d4343;
	color: #ffffff;
	height: 130px;
}
.navribbon a{
	color: #ffffff;
	font-family: Fjalla One,sans-serif;
}
.navribbon a:hover{
	color: rgb(177, 171, 243);
}
#logo{
	background: url('/img/logo.png');
	display: block;
	background-repeat: no-repeat;
	background-position-y: 30px;
	text-indent: -9999px;
}
#mainnavcont{
	line-height: 130px;
}
.navribbon ul.navigation{
	list-style: none;
	display: block;
	float: right;
}
.navribbon ul.navigation li{
	float: left;
}
.navribbon ul.navigation li a{
	text-decoration: none;
	font-size: 20px;
}
.mainbodyribbon{
	min-height: 700px;
	background: url('/img/background-100.png');
	color: #914949;
}
.mainfooterribbon{
	min-height: 170px;
	background: url('/img/footer-background-100.png');
	color: #53c9a3;
	font-family: Fjalla One,sans-serif;
}
#footer_menu{
	margin-top: 25px;
	font-style: bold;
	font-size: 18px;
}
#footer_menu a{
	text-decoration: none;
	color: #53c9a3;
}
#footer_menu a:hover{
	color: #ffffff;
}
#agency{
	margin-top: 110px;
	text-align: center;
	font-size: 12px;
}
/* Mathsjee main block styling */
.mathsblock{
	margin-top: 40px;
}
.mathsblock h1{
	font-family: Fjalla One,sans-serif;
	font-weight: normal;
	font-size: 28px;
	margin-bottom: 10px;
	color: #5f5656;
}
.mathsblock p{
	color: rgb(87, 69, 69);
	text-align: justify;
	font-size: 14px;
	line-height: 21px;
	font-family: Pontano Sans,sans-serif;
}
ul#courses_list li{
	float: left;
	font-family: Pontano Sans,sans-serif;
	margin-right: 20px;
}
div.mathsblock:last-of-type{
	margin-bottom: 80px;
}
.mathsspan{
	display: block;
	height: 24px;
	line-height: 24px;
	text-indent: 26px;
}
.mathsspan:first-of-type{
	/*float: left;*/
}
#phone{
	background: url('/img/phone-img.png');
	background-repeat: no-repeat;
}
#email{
	background: url('/img/email-logo.png');
	background-repeat: no-repeat;
	text-indent: 38px;
}
.star{
	float: left;
	background: #ffffff;
	box-shadow: 0px 0px 3px rgb(102, 102, 102);
	padding: 5px;
	margin-right: 41px;
}
.star p.star_name{
	font-family: Fjalla One,sans-serif;
	margin-bottom: 1px;
	margin-top: 5px;
}
.star p:last-of-type{
	margin-bottom: 2px;
}
